body {
  background-color: #eeeeee;
}

.App {
  text-align: center;
}

.Search-form {
  width: 95%;
  margin: auto;
}

.Search-form .Search-label {
  font-size: 1.4em;
}

.Search-input {
  font-size: 2em;
  outline-width: 0;
  border-width: 0 0 2px 0;
  border-color: #444444;
  background-color: transparent;
  text-align: center;
  width: 100%;
}

.Search-form .Search-status {
  text-align: left;
  padding-top: 0;
  margin-top: 0;
  font-size: 0.9em;
  color: #444;
}

.Search-results-container {
  width: 95%;
  margin: auto;
}

.Search-results-status {
  text-align: left;
}

.Search-results {
  text-align: left;
  padding: 0;
}

.Search-results .Search-result {
  list-style-type: none;
  margin: 10px 0;
}

.Search-results .Movie-title {
  margin-top: 0;
}

.Search-results .Poster {
  float: left;
  max-height: 250px;
  margin-right: 15px;
  border: 1px solid #ddd;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media screen and (max-width: 480px) {
  .Search-results-status {
    font-size: 0.9em;
  }

  .Search-results .Movie-title {
    font-size: 1.1em;
  }

  .Search-results .Poster {
    max-width: 90px;
  }

  .Search-results .Movie-properties {
    font-size: 0.9em;
  }
}

@media screen and (max-height: 720px) {
  .Search-form .Search-label {
    font-size: 1em;
  }

  .Search-input {
    font-size: 1.4em;
  }
}
